.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  p {
    color: #fff;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
